<div class="container" ng-controller="AdminCtrl">
    
    <div class="col-xs-12">
        <ul class="nav nav-tabs nav-justified" role="tablist">
            <li role="presentation"  class="navbar-text text-center">
                <p>
                    您已登录：管理员
                    <a ng-click="logout()" role="button">退出</a>
                </p>
            </li>
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    查询 <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li role="presentation" ng-class="{active:isSelected(1)}"><a ng-click="select(1); restoreData(); setDisplayUsers(true)" role="tab">按学院</a></li>
                    <li role="presentation" ng-class="{active:isSelected(2)}"><a ng-click="select(2); restoreData(); setDisplayUsers(true)" role="tab">按课程</a></li>
                    <li role="presentation" ng-class="{active:isSelected(3)}"><a ng-click="select(3); restoreData(); setDisplayUsers(true)" role="tab">按老师</a></li>
                </ul>
            </li>
            <li role="presentation" ng-class="{active:isSelected(4)}"><a ng-click="select(4); setDisplayRanking(true)" role="tab">排名</a></li>
            <li role="presentation" ng-class="{active:isSelected(5)}"><a ng-click="select(5); setDisplayUsers(false); setDisplayRanking(false); setDisplayRecords(false)" role="tab">发布信息</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane"  ng-class="{active:isSelected(1)}">
                <div class="searchpanel">
                    <div class="col-xs-4">
                        按学院查询：
                        <span class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                选择学院 <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li ng-repeat="department in allDepartments"><a ng-click="selectDepartment(department)">{{department}}</a></li>
                            </ul>
                        </span>
                    </div>
                    <div class="col-xs-4">
                        查询学号：
                        <input type="number" ng-model="id" placeholder="1400000000" ng-change="searchById(id)" />
                    </div>
                    <div class="col-xs-4">
                        查询姓名：
                        <input type="text" ng-model="name" placeholder="张一" ng-change="searchByName(name)" />
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane"  ng-class="{active:isSelected(2)}">
                <div class="searchpanel">
                    <div class="col-xs-4">
                        按课程查询：
                        <span class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                选择课程 <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li ng-repeat="course in allCourses"><a ng-click="selectCourse(course)">{{course}}</a></li>
                            </ul>
                        </span>
                    </div>
                    <div class="col-xs-4">
                        查询学号：
                        <input type="number" ng-model="id" placeholder="1400000000" ng-change="searchById(id)" />
                    </div>
                    <div class="col-xs-4">
                        查询姓名：
                        <input type="text" ng-model="name" placeholder="张一" ng-change="searchByName(name)" />
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane"  ng-class="{active:isSelected(3)}">
                <div class="searchpanel">
                    <div class="col-xs-4">
                        按老师查询：
                        <span class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                选择老师 <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li ng-repeat="teacher in allTeachers"><a ng-click="selectTeacher(teacher)">{{teacher}}</a></li>
                            </ul>
                        </span>
                    </div>
                    <div class="col-xs-4">
                        查询学号：
                        <input type="number" ng-model="id" placeholder="1400000000" ng-change="searchById(id)" />
                    </div>
                    <div class="col-xs-4">
                        查询姓名：
                        <input type="text" ng-model="name" placeholder="张一" ng-change="searchByName(name)" />
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane"  ng-class="{active:isSelected(4)}">
                <div class="searchpanel">
                    <div class="col-xs-6">
                        按学院筛选：
                        <span class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                选择学院 <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li ng-repeat="department in allDepartments"><a ng-click="selectDepartment(department)">{{department}}</a></li>
                            </ul>
                        </span>
                    </div>
<!--                   <div class="col-xs-6">
                        显示：
                        <span class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                前 --- 条数据 <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a ng-click="setDisplayRankNum(10)">前10条数据</a></li>
                                <li><a ng-click="setDisplayRankNum(20)">前20条数据</a></li>
                                <li><a ng-click="setDisplayRankNum(50)">前50条数据</a></li>
                                <li><a ng-click="setDisplayRankNum(100)">前100条数据</a></li>
                            </ul>
                        </span>
                    </div> -->
                </div>
            </div>
            <div role="tabpanel" class="tab-pane"  ng-class="{active:isSelected(5)}">
                敬请期待！
            </div>
        </div>
    </div>
    
    <!-- User Table -->
    <div class="col-xs-12" ng-if="!userTableReady">
        <h3>{{message}}</h3>
    </div>
    <div class="col-xs-12" ng-if="userTableReady && displayUsers">
        <table st-table="displayedData" st-safe-src="users" class="table table-striped">
            <caption>查询结果（点击表头可以排序）</caption>
            <thead>
                <tr>
                    <th st-ratio="15" st-sort="id" st-sort-default="true" st-skip-natural="true">学号</th>
                    <th st-ratio="13">姓名</th>
                    <th st-ratio="8" st-sort="sex">性别</th>
                    <th st-ratio="22" st-sort="department" st-skip-natural="true">学院</th>
                    <th st-ratio="22" st-sort="course" st-skip-natural="true">课程</th>
                    <th st-ratio="5">班号</th>
                    <th st-sort="teacher" st-skip-natural="true">教师</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in displayedData" data-toggle="tooltip" title="{{user.id}} 已跑{{user.current}}m 剩余{{user.target - user.current}}m" ng-click="viewUser(user.id); setDisplayRecords(true)">
                    <td>{{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td ng-switch on="user.sex">
                        <span ng-switch-default>未知</span>
                        <span ng-switch-when="1">男</span>
                        <span ng-switch-when="2">女</span>
                    </td>
                    <td>{{user.department}}</td>
                    <td>{{user.course}}</td>
                    <td>{{user.courseId}}</td>
                    <td>{{user.teacher}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7" class="text-center">
                        <div st-pagination="" st-template="./templates/pagination.custom.html" st-items-by-page="itemsByPage">
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    
    <!-- User Ranking -->
    <div class="col-xs-12" ng-if="!userTableReady">
        <h3>{{message}}</h3>
    </div>
    <div class="col-xs-12" ng-if="userTableReady && displayRanking">
        <table st-table="displayedRanking" st-safe-src="users" class="table table-striped">
<!--              <caption>当前排名（显示前 {{displayRankNum}} 条数据）</caption> -->
            <thead>
                <tr>
<!--                     <th st-ratio="5">名次</th>    -->
                    <th st-ratio="15">学号</th>
                    <th st-ratio="13">姓名</th>
                    <th st-ratio="8">性别</th>
                    <th st-ratio="22">学院</th>
                    <th st-sort="current" st-sort-default="true" st-skip-natural="true">已跑里程</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in displayedRanking">
<!--                    <td>{{$index + 1}}</td> -->
                    <td>{{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td ng-switch on="user.sex">
                        <span ng-switch-default>未知</span>
                        <span ng-switch-when="1">男</span>
                        <span ng-switch-when="2">女</span>
                    </td>
                    <td>{{user.department}}</td>
                    <td>{{user.current}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7" class="text-center">
                        <div st-pagination="" st-template="./templates/pagination.custom.html" st-items-by-page="itemsByPage">
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

    <!-- User Records -->
    <div class="col-xs-12" ng-if="!recordTableReady">
        <h3>{{message}}</h3>
    </div>
    <div class="col-xs-12" ng-if="recordTableReady && displayRecords">
        <table st-table="displayedUserRecords" st-safe-src="userRecords" class="table table-striped">
            <caption> {{displayUserId}} 的跑步记录 <a ng-click="setDisplayUsers(true)">返回</a> </caption>
            <thead>
                <tr>
                    <th st-ratio="8" st-sort="recordId" st-sort-default="true" st-skip-natural="true">序号</th>
                    <th st-ratio="15">日期</th>
                    <th st-ratio="15">运动距离／米</th>
                    <th st-ratio="15">运动时长／秒</th>
                    <th st-ratio="8">步数</th>
                    <th>已审核</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="record in displayedUserRecords">
                    <td>{{record.recordId + 1}}</td>
                    <td>{{record.date | date}}</td>
                    <td>{{record.distance}}</td>
                    <td>{{record.duration}}</td>
                    <td>{{record.step}}</td>
                    <td ng-switch on="record.verified">
                        <span ng-switch-default>未通过</span>
                        <span ng-switch-when="true">通过</span>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6" class="text-center">
                        <div st-pagination="" st-template="./templates/pagination.custom.html" st-items-by-page="itemsByPage">
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>