<div class="container" ng-controller="AdminCtrl">
    
    
    <div class="col-xs-12" ng-if="!showTable">
        <h3>{{message}}</h3>
    </div>
    <div class="col-xs-12" ng-if="showTable">
    
        <table st-table="records" class="table table-hover">
            <caption>Record Database</caption>
            <thead>
                <tr>
                    <th>recordID</th>
                    <th st-sort="userId">userID</th>
                    <th st-sort="date">date</th>
                    <th st-sort="distance">distance</th>
                    <th st-sort="duration">duration</th>
                    <th>invalidReason</th>
                    <th>step</th>
                    <th>type</th>
                    <th>verified</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="record in records">
                    <td>{{record.recordId}}</td>
                    <td>{{record.userId}}</td>
                    <td>{{record.date}}</td>
                    <td>{{record.distance}}</td>
                    <td>{{record.duration}}</td>
                    <td>{{record.invalidReason}}</td>
                    <td>{{record.step}}</td>
                    <td>{{record.type}}</td>
                    <td>{{record.verified}}</td>
                </tr>
            </tbody>
        </table>
    
    </div>
    
    <div class="col-xs-12" ng-if="!showTableB">
        <h3>{{messageB}}</h3>
    </div>
    <div class="col-xs-12" ng-if="showTableB">
    
        <table class="table table-hover">
            <caption>User Database</caption>
            <thead>
                <tr>
                    <th>name</th>
                    <th>id</th>
                    <th>sex</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users">
                    <td>{{user.name}}</td>
                    <td>{{user.id}}</td>
                    <td>{{user.sex}}</td>
                </tr>
            </tbody>
        </table>
    
    </div>

    

</div>