<div class="container" ng-controller="MainCtrl">
    <div class="marketing">
        <img ng-src="../images/marketing.png" class="img-responsive" />
        <div class="container login">
            <div class="row">
                <button ng-click="gotoIAAA()">
                    <img ng-src="../images/main-button.png" class="img-responsive" />
                </button>
            </div>
            <div class="row">
                <button ng-click="gotoIAAA()">
                    <h5>教师／学生登录入口</h5>
                </button>
            </div>
        </div>
    </div>
    <div class="footer">
        <button ng-click="openLogin()" role="button">
            <h5><u>管理员登录入口</u></h5>
        </button>
    </div>

</div>
