<div class="container" ng-controller="MainCtrl">
<div class="jumbotron">
  <h1>Welcome in, friends!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    This website supported by Yeoman!
  </p>
</div>
    
    
    <button type="button" class="btn btn-primary btn-lg btn-block">学生入口</button>
    <button type="button" class="btn btn-success btn-lg btn-block">教师入口</button>
    <a ui-sref="app.admin" class="btn btn-info btn-lg btn-block" role="button">管理员入口</a>

    

</div>
