<div class="container" ng-controller="MainCtrl">
<div class="jumbotron">
  <h1>Welcome in, friends!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    This website supported by Yeoman!
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>
    
    
    <div class="col-xs-12" ng-if="!showTable">
        <h3>{{message}}</h3>
    </div>
    <div class="col-xs-12" ng-if="showTable">
    
        <table class="table table-hover">
            <caption>Record Database</caption>
            <thead>
                <tr>
                    <th>recordID</th>
                    <th>userID</th>
                    <th>distance</th>
                    <th>duration</th>
                    <th>invalidReason</th>
                    <th>step</th>
                    <th>type</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="record in records">
                    <td>{{record.recordId}}</td>
                    <td>{{record.userId}}</td>
                    <td>{{record.distance}}</td>
                    <td>{{record.duration}}</td>
                    <td>{{record.invalidReason}}</td>
                    <td>{{record.step}}</td>
                    <td>{{record.type}}</td>
                </tr>
            </tbody>
        </table>
    
    </div>
    
    <div class="col-xs-12" ng-if="!showTableB">
        <h3>{{messageB}}</h3>
    </div>
    <div class="col-xs-12" ng-if="showTableB">
    
        <table class="table table-hover">
            <caption>User Database</caption>
            <thead>
                <tr>
                    <th>name</th>
                    <th>id</th>
                    <th>sex</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users">
                    <td>{{user.name}}</td>
                    <td>{{user.id}}</td>
                    <td>{{user.sex}}</td>
                </tr>
            </tbody>
        </table>
    
    </div>

    

</div>
