<div class="container" ng-controller="StudentCtrl">

    <div class="col-xs-12">
        <ul class="nav nav-tabs nav-justified" role="tablist">
            <li role="presentation">
                <p class="navbar-text text-center">
                    您已登录：{{userCredentials.name}} 同学
                    <a ng-click="logout()" role="button">退出</a>
                </p>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane"  ng-class="{active:true}">
                <!-- Status -->
                <div class="col-xs-12">
                    <h5>您的进度：</h5>
                    <!-- Progress Bar -->
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{ percentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ percentage }}%;">
                            {{ percentage }}%
                        </div>
                    </div>
                    <!-- <div class="col-xs-12" ng-if="!showStatus">
                        <h3>{{message}}</h3>
                    </div> -->
                    <div class="table-responsive">
                        <table st-table="status" class="table table-bordered status-table">
                            <tr>
                                <td class="info">已跑里程（米）</td>
                                <td>{{status.current}}</td>
                                <td class="info">剩余里程（米）</td>
                                <td>{{status.target}}</td>
                            </tr>
                            <tr>
                                <td class="warning">考勤开始日期</td>
                                <td>{{status.beginDate | date}}</td>
                                <td class="warning">考勤结束日期</td>
                                <td>{{status.endDate | date}}</td>
                            </tr>
                            <tr>
                                <td class="success">学号</td>
                                <td>{{userCredentials.id}}</td>
                                <td class="success">学院</td>
                                <td>{{userCredentials.department}}</td>
                            </tr>
                            <tr>
                                <td class="info">体育课</td>
                                <td>需要学生选课信息</td>
                                <td class="info">老师</td>
                                <td>需要学生选课信息</td>
                            </tr>
                            <tr>
                              <td class="warning">跑步有效次数</td>
                              <td>{{status.validCount}}</td>
                              <td class="warning">奖励里程</td>
                              <td>{{status.bonus}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!-- Records Table -->
            </div>
        </div>
    </div>

    <div class="col-xs-12">
        <table st-table="records" class="table table-striped">
            <caption>所有跑步记录</caption>
	       <thead>
	           <tr>
                   <th>序号</th>
                   <th>运动距离／米</th>
                   <th>运动时长／秒</th>
                   <th>跑步日期</th>
                   <th>步数</th>
                   <th>已审核</th>
               </tr>
            </thead>
            <tbody>
                <tr ng-repeat="record in records" ng-click="getDetail(record)">
                    <td>{{record.recordId + 1}}</td>
                    <td>{{record.distance}}</td>
                    <td>{{record.duration}}</td>
                    <td>{{record.date | date}}</td>
                    <td>{{record.step}}</td>
                    <td ng-switch on="record.verified">
                        <span ng-switch-default>未通过</span>
                        <span ng-switch-when="true">通过</span>
                    </td>
                </tr>
            </tbody>

            <tfoot>
                <tr>
                    <td colspan="6" class="text-center">
                        <div st-pagination="" st-template="./templates/pagination.custom.html" st-items-by-page="itemsByPage">
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>

    </div>

</div>
